.project-techs h4 {
  font-size: var(--font-size-4);
}

.project-techs ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  margin-top: 10px;
  padding-left: 24px;
}

.project-techs li {
  font-size: var(--font-size-5);
  overflow-wrap: anywhere;
}

.project-techs li::marker {
  color: var(--font-color-1);
}