@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@800;900&family=Poppins:wght@200;300;400;600;700;800&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  --bg-color-1: #1b2025;
  --bg-color-2: #252a30;
  --font-color-1: #ffd42f;
  --font-color-2:#edf5e1;
  --font-size-1: 5.25rem;
  --font-size-2: 2.5rem;
  --font-size-3: 2.35rem;
  --font-size-4: 1.65rem;
  --font-size-5: 1.2rem;
  --font-size-6: .95rem;
}

/* Utility Classes */
.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.section {
  max-width: 800px;
  padding: 50px;
  margin: 0 auto;
}

.section h2 {
  font-size: var(--font-size-2);
  color: var(--font-color-2);
}

:is(.section, .project) :is(h2, h4)::before {
  content: "#";
  color: var(--font-color-1);
}

.section h2::after {
  content: ".";
  color: var(--font-color-1);
}

.project h4::after {
  content: ":";
  color: var(--font-color-1);
}

.btn {
  width: 140px;
  height: 48px;
  outline-color: transparent;
  border: 1px solid var(--font-color-1);
  border-radius: 4px;
  background-color: transparent;
  color: var(--font-color-2);
  font-family: monospace;
  font-size: var(--font-size-6);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--font-color-1);
  color: black;
  font-weight: bold;
}

.btn > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color-1);
  font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
  width: .7rem;
}

body::-webkit-scrollbar-track {
  background-color: var(--font-color-2);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--font-color-1);
}

@media (min-width: 1250px) {
  .section {
    max-width: 1100px;
  }
}