.project-challenges {
  gap: 10px;
}

.project-challenges h4 {
  font-size: var(--font-size-4);
}

.project-challenges ul {
  margin-top: 10px;
  padding-left: 24px;
  font-size: var(--font-size-5);
}

.project-challenges li::marker {
  color: var(--font-color-1);
}