.header {
  height: 80px;
  justify-content: space-between;
  gap: 2.5rem;
  padding: 0 20px;
  background-color: var(--bg-color-2);
  position: fixed;
  top: -80px;
  right: 0;
  left: 0;
  animation: move-down 500ms forwards;
  overflow: hidden;
  z-index: 50; /* 4th - Lowest */
}

.header.hide {
  animation: move-up 500ms forwards;
}

.h-title {
  font-size: var(--font-size-3);
  font-weight: 800;
  color: var(--font-color-2);
}

.h-span {
  color: var(--font-color-1);
}

@media (min-width: 650px) {
  .header {
    padding: 0 30px;
  }
}

@keyframes move-down {
  to {
    top: 0;
  }
}

@keyframes move-up {
  from {
    top: 0;
  }
  to {
    top: -80px;
  }
}