.header {
  height: 80px;
  justify-content: space-between;
  padding: 0 20px;
  background-color: var(--bg-color-2);
  position: relative;
  top: -80px;
  animation: move-down 1s forwards;
}

.h-title {
  font-size: var(--font-size-3);
  font-weight: 800;
  color: var(--font-color-2);
}

.h-span {
  color: var(--font-color-1);
}

@media (min-width: 650px) {
  .header {
    padding: 0 30px;
  }
}

@keyframes move-down {
  to {
    top: 0;
  }
}