.header {
  height: 80px;
  justify-content: space-between;
  padding: 0 30px;
  background-color: var(--bg-color-2);
}

.h-title {
  font-size: 2.35rem;
  font-weight: 800;
  color: var(--font-color-2);
}

.h-span {
  color: var(--font-color-1);
}