.burger {
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  --burger-color: var(--font-color-2);
  z-index: 300;
}

.burger:hover {
  --burger-color: var(--font-color-1);
}

.burger .line {
  transition: rotate 250ms,
              opacity 0ms 250ms,
              translate 250ms 250ms;
  transform-origin: center;
}

.burger[aria-expanded="true"] .line {
  transition: opacity 0ms,
              translate 250ms,
              rotate 250ms 250ms;
}

.burger[aria-expanded="true"] .top {
  rotate: 45deg;
  translate: 0% 14.5%;
}

.burger[aria-expanded="true"] .middle {
  opacity: 0;
}

.burger[aria-expanded="true"] .bottom {
  rotate: -45deg;
  translate: 0% -14.5%;
}