.burger {
  height: 40px;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
  --burger-color: var(--font-color-2);
  z-index: 300;
}

.burger:hover {
  --burger-color: var(--font-color-1);
}

.burger .line {
  transition: opacity 200ms 300ms;
  transform-origin: center;
}

.burger[data-animate="false"] .line:is(.top, .bottom) {
  animation: none;
}

.burger[aria-expanded="false"] .top {
  animation: top-to-straight 850ms reverse forwards;
}

.burger[aria-expanded="true"] .top {
  animation: top-to-cross 850ms forwards;
}

@keyframes top-to-cross {
  50% {
    transform: translateY(19.5%);
  }
  100% {
    transform: rotate(45deg) translateY(19.5%);  
  }
}

@keyframes top-to-straight {
  50% {
    transform: translateY(19.5%);
  }
  100% {
    transform: rotate(45deg) translateY(19.5%);
  }
}

.burger[aria-expanded="true"] .middle {
  opacity: 0;
}

.burger[aria-expanded="false"] .bottom {
  animation: bottom-to-straight 850ms reverse forwards;
}

.burger[aria-expanded="true"] .bottom {
  animation: bottom-to-cross 850ms forwards;
}

@keyframes bottom-to-cross {
  50% {
    transform: translateY(-19.5%);
  }
  100% {
    transform: rotate(-45deg) translateY(-19.5%);
  }
}

@keyframes bottom-to-straight {
  50% {
    transform: translateY(-19.5%);
  }
  100% {
    transform: rotate(-45deg) translateY(-19.5%);
  }
}