.full-page-nav {
  width: 0%;
  position: fixed;
  padding: .35rem 0 2.5rem;
  inset: 0;
  background-color: var(--bg-color-2);
  overflow: hidden;
  transition: width 350ms;
  z-index: 200; /* 2nd */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.full-page-nav::-webkit-scrollbar {
  display: none;
}

.full-page-nav.expand {
  width: 100%;
  overflow: scroll;
}

.full-page-nav h1 {
  font-size: var(--font-size-1);
  color: var(--font-color-2);
  margin-bottom: 1.4rem;
  transform: translateY(-100vh);
}

.full-page-nav.expand h1 {
  animation: enter 800ms 800ms forwards;
}

@keyframes enter {
  to {
    transform: translateY(0);
  }
}

.full-page-nav h1 span {
  color: var(--font-color-1);
}

.full-page-nav .wrapper {
  margin: auto; /* Trick for centering flex items without overflow being cut off */
}



