.skill-box {
  height: 135px;
  width: 135px;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--bg-color-2);
}

.skill-box img {
  width: 70px;
  height: 70px;
}

.skill-box p {
  font-size: 1.15rem;
  color: var(--font-color-2);
}


