.nav-list {
  width: 485px;
  justify-content: space-between;
  font-size: var(--font-size-5);
  color: white;
  list-style: none;
}

.nav-list > li {
  cursor: pointer;
}

.nav-list > li:hover {
  color: var(--font-color-1);
}