.nav-list {
  width: 320px;
  justify-content: space-between;
  font-size: var(--font-size-5);
  color: var(--font-color-2);
  list-style: none;
}

.nav-list > li {
  cursor: pointer;
}

.nav-list a {
  color: var(--font-color-2);
  text-decoration: none;
}

.nav-list a:hover {
  color: var(--font-color-1);
}

@media (min-width: 650px) {
  .nav-list {
    width: 400px;
  }
}

@media (min-width: 950px) {
  .nav-list {
    width: 485px;
  }
}